extends layout

block content

  script(src="/javascripts/jquery-1.6.4.min.js")
  script(src="/javascripts/view.index.js")

  #left-column.column
    h2 Elige tu héroe
    ul#heroes
      each hero in heroes
        li(class='hero-name')
          a(href='#') #{hero}

  #right-column.column
    h2 Facts
    ul#facts
    label(for="new-fact") Añadir nuevo fact:
    textarea#new-fact
    a(id='add-new-fact', href='#') Añadir
    
<div class="banner">
    <h1 class="banner_h1 imgpng">股票拜师群 深套向盈利逆袭</h1>
    <p class="banner_h2 imgpng">加入QQ群 免费获悉<b>下只黑马股</b>信息<span>[剩余名额23人]</span></p>
    <p class="banner_btn"><a href="javascript:void(0);" class="click_gpjq imgpng">一键点击加群</a></p>
    <p class="banner_copy imgpng clearfix"><i class="fl">手动搜索QQ群号：</i>
      <input value="" type="text" id="copybanner" class="bcopytext fl QQqun_copytext" />
      <span class="bcopy" onclick="copytext('copybanner')">复制</span></p>
      <i class="banner_star">星星</i>
    <span class="banner_bg imgpng"></span> </div>
    
  <div class="main">
    <div class="section imgpng">
      <h2 class="section_tit title01 imgpng"><span class="stit01">你是否也有同样的感触?</span></h2>
      <dl class="con01 clearfix">
        <dt class="imgpng">大哭！</dt>
        <dd class="con_text">一直想不明白：<br />
          为啥我一个小小散户竟能左右整个股市？<br />
          <strong>我一买入它就下跌，我一卖出它就上涨</strong><strong>我一空仓大盘疯涨，我一满仓大盘狂泻</strong>
          手握百亿资金的庄家们竞死死盯着<br />
          我手里这几万块钱不放<br />
          <b>这到底是为啥？？</b></dd>
      </dl>
    </div>
    <div class="section imgpng">
      <h2 class="section_tit title02 imgpng"><span class="stit02">股票拜师群来告诉你答案</span></h2>
      <dl class="con02_4">
        <dd class="pp_img imgpng">嘿嘿</dd>
        <dt class="con_text w650">在这里就是为了帮助广大老股友<br />
          <b>如何从套牢深渊中解救出来</b><br />
          以及帮助那些<br />
          想知道如何正确起步<b>保护本钱并获取利润的新手</b></dt>
        <dd class="qq_box imgpng">
          <p class="ptext">如果您想妥妥的赚钱，来这里没错的，<b>点击加群获黑马股</b></p>
          <div class="box_btns clearfix"> <a href="javascript:void(0);" class="btn btn01 imgpng click_gpjq">免费加群</a>
            <p class="con_pcopy clearfix"><span onclick="copytext('copyt01')">复制</span><i class="fl">手动加群：</i>
              <input value="" type="text" id="copyt01" class="fl QQqun_copytext" />
            </p>
          </div>
        </dd>
      </dl>
    </div>
    <div class="section imgpng">
      <h2 class="section_tit imgpng"><span class="stit03">内幕大牛票</span></h2>
      <div class="con03">
        <table border="0" cellspacing="1" cellpadding="0">
          <tr>
            <th class="w160">推荐股票代码</th>
            <th class="w185">买入时间</th>
            <th>详情</th>
          </tr>
          <tr>
            <td>300410</td>
            <td>2015年12月1日</td>
            <td>短线新高大牛，截止12月4日获利20%，继续持有</td>
          </tr>
          <tr>
            <td>002471</td>
            <td>2015年11月9日</td>
            <td>短线涨停黑马，连续8涨停，获利105%卖出</td>
          </tr>
          <tr>
            <td>002709</td>
            <td>2015年10月26日</td>
            <td>中线大牛，截止12月4日收盘获利82%，继续持有</td>
          </tr>
          <tr>
            <td>600136</td>
            <td>2015年9月30日</td>
            <td>长线大牛，截止12月4日收盘获利96%，继续持有</td>
          </tr>
        </table>
        <dl>
          <dt>
            <p class="ptext">点击加群按钮<b>获取更多黑马牛股</b></p>
            <p class="con_pcopy clearfix"><span onclick="copytext('copyt02')">复制</span><i class="fl">手动加群：</i>
              <input value="" type="text" id="copyt02" class="fl QQqun_copytext" />
            </p>
          </dt>
          <dd><a href="javascript:void(0);" class="imgpng click_gpjq">免费加群</a></dd>
        </dl>
      </div>
    </div>
    <div class="section no imgpng">
      <h2 class="section_tit imgpng"><span class="stit04">来这里，只为遇见你</span></h2>
      <dl class="con02_4">
        <dd class="hb_img imgpng">红包冲冲冲！</dd>
        <dt class="con_text">来这里，一大波经验丰富股票专家分享经验，传授秘籍<br />
          来这里，小小散户联合力量，我们就是最大的庄家<br />
          来这里，群众擦亮眼睛，我们就是最大的内幕<br />
          <b>一切，只为了遇见更好的你</b></dt>
        <dd class="qq_box imgpng">
          <div class="box_btns clearfix"> <a href="javascript:void(0);" class="btn btn02 imgpng click_gpjq">免费加群抢红包</a>
            <p class="con_pcopy clearfix"><span onclick="copytext('copyt03')">复制</span><i class="fl">手动加群：</i>
              <input value="" type="text" id="copyt03" class="fl QQqun_copytext" />
            </p>
          </div>
          <p class="ptext"><strong>败家群主发红包啦</strong>！千元红包等你抢，兄弟们HI起来！</p>
        </dd>
      </dl>
    </div>
  </div>
